# copy this to /lib/systemd/system/
# Run at startup:
#   systemctl enable parentMonitorProgram.service
#   (replace enable with: start, stop, restart)
# Status:
#   systemctl status parentMonitorProgram.service
#   systemctl | grep parentMonitorProgram

[Unit]
Description=Service to auto-run the baby monitoring program in baby's BBG

[Service]
WorkingDirectory=/root/
ExecStart=parentMonitor
SyslogIdentifier=parentMonitorProgram

[Install]
WantedBy=multi-user.target